test.lua
.luacheckcache

# Tarantool-specific files
**/**.snap
**/**.xlog
/.rocks

# Logging
log.txt
**/**.log
work_log.md

# MacOS
.DS_Store

# Completions
/completions/
tarantool-lsp/completions/
.tnt_doc

# Any local test scripts
*.sh

# idea
.idea
